@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Open+Sans:wght@600&display=swap');


.offerContainer{
    text-align: center;
}

.offerText{
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: normal;
    color: #000;
    margin-top: 10%;
    margin-bottom: 10px;
    line-height: 1;
}

.offerUnderText{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.half-width{
    width: 100%;
}


form {
    max-width: 500px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input,
select {
    width: calc(50% - 10px); 
    padding: 20px;
    margin: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
}

input[type="submit"] {
    width: 100%; 
    background-color: rgba(0, 212, 255, 0.9);
    color: #fff;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color: #45a049;
    
}

@media screen and (width < 500px){
    input,
select {
   
    font-size: 18px;
}
}